@import "commom.less";
@import "widgets.less";

@ImageUrl: "/static/img";
@FontPath: "../fonts";

@font-face {
	font-family: 'Mono Social Icons Font';
	src: url('@{FontPath}/MonoSocialIconsFont-1.10.eot');
	src: url('@{FontPath}/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
	     url('@{FontPath}/MonoSocialIconsFont-1.10.woff') format('woff'),
	     url('@{FontPath}/MonoSocialIconsFont-1.10.ttf') format('truetype'),
	     url('@{FontPath}/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');

	src: url('@{FontPath}/MonoSocialIconsFont-1.10.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.symbol, a.symbol:before {
	font-family: 'Mono Social Icons Font';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	
}


html {
	-webkit-font-smoothing: antialiased;
	background-color: #C44032;
}

body {
	background-color: #e6e6e6;
//	background-image: url('@{ImageUrl}/background.gif');
	color: #444;

    font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
    margin-bottom: 50px;
    padding-top: 1px;
//	font-weight: 100;

    .box-shadow(0px 5px 40px rgba(0, 0, 0, 0.55));
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 200;
}

a {
	color: #375E99;
	
	&:hover {
		border-bottom: 3px solid rgba(55, 94, 153, 0.5)
	}
}

header {
	z-index: 10000;
	font-family: Raleway;
	background-color: #e6e6e6;
	width: 100%;
	//position: relative;
	
	&.fixed {
		.box-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
		padding: 0.3em;
		position: fixed;
		top: 0;
	}

	h1 {
		white-space: nowrap;
		position: absolute;
		.transition(font-size 0.15s linear);
		.transition(left 0.15s linear);
		font-weight: 100;
		font-size: 4.5em;
		word-spacing: -0.3em;
		font-weight: 100;
		&.active {
			font-size: 2.5em;
			margin: 0.1em;
			margin-left: 0.3em;
		}
	}

	span {
		display: table;
		margin: 0 auto;
	}
}

section {
	padding: 2em;
	margin: 1em;
	
	h2 {
		text-align: center;
	}
	
	&#me {
		line-height: 1.7em;
		text-align: center;
	}
	&#who {
		background-color: #EFEFEF;
		p {
			text-align:justify;
			font-size: 1.4em;
			line-height: 1.4em;
		}
	}
	
	&#social {
	//	background-color: #A9CAF3;
		//margin-top: 40px;
		text-align: center;
		
		li {
			display: inline-block;
			font-size: 8em;
			margin: 0;
			padding: 0;
			width: 20%;
		
			a {
				color: #000;
				&:hover {
					text-decoration: none;
				}
			}
		
		}
	}
	
	&#shorturl {
		background-color: #C44032;

		div.joined {
			font-size: 0px;
			white-space: nowrap;
			display: inline-block;
		}

		input {
			font-size: 14px;
			margin: 0;
			.box-sizing(border-box);
			height: 30px;
			display: inline-block;
			vertical-align: top;
			word-spacing: 0px;
		}
		
		input[type=text] {
			width: 400px;
			border: 1px solid darken(#ececec, 25);
			padding-left: 0.5em;
			
			.border-radius(3px 0 0 3px);
		}
		input[type=submit] {
			margin-left: -1px;
			.border-radius(0 3px 3px 0);
		}
	}
	
	&#contact {
		background-color: #375E99;//#395c9e;
		color: #fff;
		
		form {
			font-family: Raleway;
			
			margin: auto;
			display: table;
			
			h2 {
				text-transform: uppercase;
			}
			
			input[type=text], input[type=email], textarea {
				display: block;
				margin: 0.2em;
				padding: 0.1em;
				padding-left: 0.5em;
				width: 15em;
				font-size: 1.4em;
				border-radius: 3px;
				
				border: 1px solid #1C2D49;
				background: #fff;//#2A4773;
				color: #92ADD8;

				.box-shadow(inset 0px 0px 5px rgba(0, 0, 0, 0.2));
			}
			input[type=submit] {
				margin-right: 0.4em;
				float: right;
			}
		}
	}	
}

.divisor {
	background-color: #ccc;
	height: 5em;
	.box-shadow(inset 0px 3px 8px rgba(0, 0, 0, 0.2));
}

#faceboock {
	li {
		width: 75px;
		height: 75px;
	}
}

#tweetwidget {
	margin: auto;
	margin-top: 3em;
	text-align: left;
//	border: 1px solid #ccc;
	font-size: 0.9em;
	line-height: 1.1em;
	padding: 0.8em;
	width: 400px;

	>div {
		float: left;
	}
	.text {
		width: 360px;
	}
	.bird {
		width: 3.2em;
		margin-left: -0.8em;
		margin-top: 0.3em;
		.text-shadow(1px, 1px, 5px, rgba(0, 0, 0, 0.2));
		
		.symbol {
			color: #00ACEE;
			font-size: 4em;
		}
	}
	
	.status {
		width: 100%;
		text-align: right;
		font-size: 0.2em;
		span {
			margin-left: 1em;
		}
	}
	.clearfix();
}

.gallery {
	width: 5*150px;
	margin: auto;
	position: relative;
	border: 0.4em solid #fff;
	margin-top: 0.4em;
	background-color: #444;
	
	&:after {
		.box-shadow(inset 0 0 10em rgba(0, 0, 0, 0.7));
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		content: "";
	}

	ul {
		li {
			float: left;
			display: block;
			margin: 0;
			height: 150px;
			z-index: 100;
		}
		.clearfix();
	}
}

.end {
	margin: 1em auto 1em auto;
	display: table;
	font-size: 4em;
	font-family: 'Alex Brush';
	color: darken(#e6e6e6, 5%);
	text-shadow: 1px 1px rgba(255,255,255,0.5), -1px -1px rgba(0,0,0,0.3);
	
}

footer {
    font-family: 'PT Sans Narrow','Arial Narrow',Arial,sans-serif;
    letter-spacing: 0.025em;
    margin: 0;
    text-transform: uppercase;
    font-size: 10px;
    color: #666;
    text-align: center;
	background-color: #fff;
	line-height: 20px;
	
	.heart {
		font-family: "Meiryo" "Lucida Sans Unicode";
		font-size: 1.2em;
		color: #f00;
		.text-shadow(1px, 1px, 5px, rgba(0, 0, 0, 0.4));
		vertical-align: -1px;
	}
}


a.start {
	position: fixed;
	bottom: 0.4em;
	left: 47%;
	width: 5%;
	line {
		stroke: #999;
	}
	&:hover {
		line {
			stroke: #eee;
		}
		border: none;
	}
}

a {
	&.orangeco {
		font-weight: 300;
		color: #FF9900;
		&:hover {
			background-color: #FF9900;
			color: #fff;
		}
	}	
}

@import "responsive.less";