@media only screen and (min-width: 320px) {
  header h1 {
    font-size: 2.5em;
  }
  header h1.active {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 600px) {
  header h1 {
    font-size: 3.5em;
  }
  header h1.active {
    font-size: 2em;
  }
}
@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 4.5em;
  }
  header h1.active {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 992px) {
  
}
@media only screen and (min-width: 1382px) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
