{% extends "base.html" %}
{% block header %}  {% endblock %}
{% block content %}
	<header itemscope itemtype="http://data-vocabulary.org/Person">
		<span class="name"><h1 itemprop="name">Rodrigo Nossal</h1></span>
		<!--<p itemprop="title">Software Developer</p> -->
	</header>
	<section>
	
Olá, meu nome é Rodrigo, mas todos me chamam pelo meu sobrenome: Nossal. <br>E aqui na Internet é mais fácil me encontrar procurando meu sobrenome.
	<a href="#">http://
	<div class="mask">
		<ul class="options">
			<li>twitter.com</li>
			<li>facebook.com</li>
			<li>linkedin.com/in</li>
			<li>coderwall.com</li>
			<li>github.com</li>
			<li>instagram.com</li>
			<li>flickr.com/photos</li>
			<li>last.fm/user</li>
			<li>soundcloud.com</li>
			<li>about.me</li>
			<li>slideshare.net</li>
		</ul>
	</div>
	/nossal</a>	

	</section>

	<section class="social">
		<ul>
			<li><a href="http://twitter.com/nossal">Twitter</a></li>
			<li><a href="http://facebook.com/nossal">Facebook</a></li>
			<li><a href="https://plus.google.com/u/0/105458817761425494589?rel=author">Google</a></li>
			<li><a href="http://linkedin.com/in/nossal">LinkedIn</a></li>
			<li><a href="https://coderwall.com/nossal">Coderwall</a></li>
			<li><a href="http://github.com/nossal">GitHub</a></li>
			<li><a href="http://instagram.com/nossal">Instagram</a></li>
			<li><a href="http://flickr.com/photos/nossal">Flickr</a></li>
			<li><a href="http://last.fm/user/nossal">Last.fm</a></li>
			<li><a href="http://soundcloud.com/nossal">Soundcloud</a></li>
			<li><a href="http://about.me/nossal">About.me</a></li>
			<li><a href="http://dinher.in">Dinherin</a></li>
			<li><a href="http://slideshare.net/nossal">SlideShare</a></li>
		</ul>
	</section>
	<section>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</section>

	<footer><span class="made">Handmade without jQuery in Grav.</span></footer>
{% endblock %}