{% extends "base.html" %}
{% block content %}
<filter id="svgBlur"><feGaussianBlur stdDeviation="10"/></filter>

<header itemscope itemtype="http://data-vocabulary.org/Person">
	<span class="name"><h1 itemprop="name">Rodrigo Nossal</h1></span>
	<!--<p itemprop="title">Software Developer</p> -->
</header>

<section id="me">
	<!--<p>Olá, meu nome é Rodrigo, mas todos me chamam pelo meu sobrenome: Nossal. <br>E aqui na Internet você também pode me encontrar em: <span id="widget"><a href="#" target="blank">http://<span class="mask"></span>/nossal</a></span></p>
	-->
	<div id="tweetwidget"></div>

	<a href='#' class="start">
		<svg width="60" height="30" xmlns="http://www.w3.org/2000/svg">
		  <g id="svg_1">
		      <line y2="24" x2="30" y1="5" x1="4" stroke-linecap="round" stroke-width="8"/>
		      <line y2="24" x2="30" y1="5" x1="56" stroke-linecap="round" stroke-width="8"/>
		  </g>
		</svg>
	</a>
</section>
<div class="divisor"></div><!--
<section id="who">
	
	<h2>Eu:</h2>
	<p>Sou desenvolvedor de software da região de Porto Alegre. <br>Desde 2010 trabalho no <a href="//terra.com.br" class="orangeco" target="blank">Terra Networks</a>. Lá eu programo em Java (Struts, Spring), Python (Django, Flask) e JavaScript (jQuery, Backbone, Node, etc.), mas em outros tempos já trabalhei com PHP e até PL/SQL. Meu foco agora é o desenvolvimento Web, por isso me dou muito bem com aspectos que vão desde a instalação e configuração de servidores, ao HTML e CSS das páginas. Além disso ando muito empolgado com Objective-C e desenvolvimento Mobile.</p>

</section>
 -->
<section id="facebook"> </section>

<!-- 
<section id="social">
	<h2>Nas Redes Sociais</h2>
	<ul>
		<li><a href="http://twitter.com/nossal" class="symbol" title="twitter">twitterbird</a></li>
		<li><a href="http://facebook.com/nossal" class="symbol" title="facebook">facebook</a></li>
		<li><a href="https://plus.google.com/u/0/105458817761425494589?rel=author" class="symbol" title="googleplus">googleplus</a></li>
		<li><a href="http://linkedin.com/in/nossal" class="symbol" title="linkedin">linkedin</a></li>

		<li><a href="http://github.com/nossal" class="symbol" title="github">githubalt</a></li>
		<li><a href="http://instagram.com/nossal" class="symbol" title="instagram">instagram</a></li>
		<li><a href="http://flickr.com/photos/nossal" class="symbol" title="flickr">flickr</a></li>
		<li><a href="http://last.fm/user/nossal" class="symbol" title="lastfm">lastfm</a></li>
		<li><a href="http://soundcloud.com/nossal" class="symbol" title="soundcloud">soundcloud</a></li>
		<li><a href="http://about.me/nossal"class="symbol" title="aboutme">aboutme</a></li>
		
		<li><a href="http://slideshare.net/nossal" class="symbol" title="slideshare">slideshare</a></li>
		<li><a href="https://coderwall.com/nossal" class="symbol" title="coderwall">C</a></li>
	</ul>
	<a href="http://dinher.in">Dinherin</a>
</section>
-->
<section id="photos">
	<h2>Minhas 	Fotos</h2>
	<div id="instaphotos" class="gallery"></div>
	<div id="flickrphotos" class="gallery"></div>
</section>

<!--
<section id="resume">
	
</section>
<section id="greatref">
	<h2>Grande referência das coisas que já usei e ainda uso</h2>
</section>
-->

<section id="urlshortener" style="display: none">
	<h2>Meu Encurtador de URLs</h2>
	<form name="shortener">
		<div class="joined">
			<input type="text" name="url" autocomplete="off" placeholder="Cole aqui a sua URL.">
			<input type="submit" value="Short It">
		</div>
	</form>
</section>

<section id="contact">
	<form method="POST">
		<h2>Vamos conversar!</h2>
		<input type="email" name="email" placeHolder="seu@email.com"/>
		<textarea name="message" rows="5"></textarea>
		<input type="submit" value="Enviar Mensagem" />
	</form>
</section>

<section id="end">
	<div class="end">Fim.</div>
</section>
{% endblock %}