{% extends "base.html" %}
{% block title %}Orientation Demo{% endblock %}
{% block style %}
.viewport {
	border: 1px solid #ccc;
	display: block;

	padding: 15px;
	width: 500px;
	margin-left: -250px;
	margin-top: -50px;

	position: fixed;
	top: 50%;
	left: 50%;
}
#obj {
	font-size: 40px;
	background: red;
	border: 1px solid #bc0000;
	color: #fff;
	text-align: center;
}
{% endblock %}

{% block content %}

	<div id="sts"></div>
	<div class="viewport">
	    <div id="obj">Device  Orientation&nbsp;</div>
	</div>

	<script type="text/javascript">
	    function onOrientation(event) {
	        var b = ((event.beta/180)*2 + 1);

	        var rotate = 'rotate(' + event.gamma + 'deg)';
	        var scale = 'scale(' + b + ')';
	        document.getElementById('obj').style.webkitTransform = rotate +' '+ scale;
	    }
    
		window.addEventListener('deviceorientation', onOrientation);
	</script>
{% endblock %}